th, td      { vertical-align: top; text-align: right; font-size:large; }     /* Don't center table cells  */
#converted  { color: yellow; font-weight: bold; font-size:25px;          }     /* Calculated values in bold */
input       { 
              text-align: left;       /* Align input to the left  */
              border: solid red ; 
              border-radius: 100px 100px 100px 100px;
              padding: 15px 15px;
              font-size:20px;     
                  }
body
{
 background-color:green;  
 font-size:20 px;
 font-family: "Tahoma", "Tahoma Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: normal;
    font-family: "Brush Script MT", cursive;
    background: #3C5681;
    padding: 5px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}
